
*{
    font-family: 'Raleway', sans-serif;
}
#container{
    max-width:1400px;    
}
body{    
    margin:0px 40px 0px 40px; 
    display:flex;
    justify-content: center;
}

/*en tete*/
header img{
    height:19px;     
}
header{   
    display: flex;
    justify-content: space-between;
    align-items: baseline;   
    padding-bottom:30px; 
}
#nav{
    display: flex;
    justify-content: space-between;
    margin-top:0px; 
}
ul{
    list-style-type: none;
    padding-inline-start:0px;
}
a{
    color:#000000;
    font-weight: 400;
    text-decoration: none;
    font-size:16px;  
}
 a:hover{
    color: #0065FC;
    font-weight:500;
}
#nav li{    
    padding-left: 30px;
    padding-right:30px;
    padding-top:40px; 
}
#nav li:hover{   
    border-top:2px solid#0065FC; 
}

/*partie principale*/
main{
    display: flex;
    flex-direction: column;  
}

/*formulaire*/
form *{
    height:49px;
    box-sizing:border-box;
}
form{
    display:flex;
}
#point{
    display: flex;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width:50px;
    justify-content: center;
    align-items: center; 
    color:black;     
}
.text{
    width:200px;
    border: 1px solid #F2F2F2;
    padding-left:10px;   
}
.recherche{
    width:132px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color:#FFF;
}
.mobile{
    display:none;
}

/*filtre*/
.filtres{
    display:flex;   
    align-items:center;   
}
.filtre{
    display:flex;
    justify-content:space-between;   
}
.filtre p{
    font-weight:700;
    font-size:17px;
}
.choix-filtre{
    display:flex;
    list-style-type: none;
    align-items: center;   
    border: 2px solid #D9D9D9;
    border-radius: 40px;
    padding-left:20px;
    padding-right:20px; 
    margin-bottom:16px; 
    margin-top:16px;   
    margin-left:20px;
}
.choix-filtre:hover{
    background: #DEEBFF;
}
.choix-filtre p{
    padding-left:10px;   
}

/*information*/
#seize{
    font-size:16px;
}
.information{
    display:flex;
    align-items:center;    
}
.information i{
    width: 20px;
    height: 20px;
    border: 1px solid #D9D9D9;
    border-radius:15px;
    margin-right:10px;
    text-align:center;
    padding:2px 2px 0px 2px;    
}

/*sections generales*/
.carte{
    margin-bottom:20px;
}
#sections-grises{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
}
.gris{
    background: #F2F2F2;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    box-sizing:border-box;
}
article{
    height:100%;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);   
}

/*hébergements*/
#hebergements{ 
    width: 65%;
    margin-bottom:40px;
}
#flex-hebergement{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
#flex-hebergement a{
    width: 31%;
}
.hebergements-individuels{
    background: #FFFFFF;            
    border:5px solid #FFFFFF;  
    text-align:left;    
    box-sizing: border-box;       
}
.hebergements-individuels img{
    border-radius: 20px 20px 0px 0px; 
    height: 124px;
    width: 100%;
}
.ecriture{
    margin:5px 0px 5px 10px;
}
.fa-star.empty{
    color:#F2F2F2;
}

/*populaires*/
#populaires{ 
    margin-bottom:40px;
    width: 31%;
    box-sizing: border-box;
}
#titre-populaire{
    display:flex;
    justify-content: space-between;
    align-items: center;      
}    
#ensemble-populaire{
    display:flex;
    flex-direction: column;
}
.hotel-populaire{
    display:flex;
    height: 144px;   
    background: #FFFFFF;    
}
.hotel-populaire img{
    height: 134px;
    width: 35%;    
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.populaire-ecriture{
    display:flex;
    flex-direction:column;
    width:65%;
    padding-left:5px;
    padding-right:5px;   
    justify-content: space-between;
}

/*activités*/
#activites{
    display:flex;
    flex-direction: column;    
}
#flex-activites {
    display:flex;
    justify-content: space-between; 
}
.activite{      
    background: #FFFFFF;
    border: 1px solid #D9D9D9;   
}
#flex-activites a{
    width:22%; 
}
.activite img{
    width:100%;
    height:400px;
    border-radius: 20px 20px 0px 0px ;  
}
.activite h3{
    padding-left:15px;
    padding-right:15px;
    min-height:32px;
    display: flex;
    align-items:center;
    margin-top: 8px;
    margin-bottom:8px;
}


/*footer*/
footer{
    margin-top:20px;
    background: #F2F2F2;
    display:flex;
}
.footer{
    display:flex;
    flex-direction: column;
    width:33%;
    padding-top:20px;
    padding-left:40px;
}
.footer h4{
    font-weight:700;
    font-size:18px;
    margin-bottom:0px;
}

.footer li{
    margin-top:10px;
}

/*différentes propriété générales*/

h1, h2{
    font-weight:700;
    font-size:22px;
}
h3{  
    font-size: 16px;
    font-weight: 700;   
}
img{
    object-fit: cover;
}
.fa-solid{
    color:#0065FC;
}
.gras{
    font-weight: 700;
font-size: 18px;
}
.strong, strong{
    font-size: 14px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 400;
}

/*tablette*/
@media screen and (min-width: 768px)and  (max-width: 991px) {
    .choix-filtre{
        padding-left: 13px;
        padding-right:13px;
        margin-left:15px;
    }
    .choix-filtre p{        
        padding-left:8px;
    }
    .filtres p{
        font-size:15px;
    }
    #sections-grises{        
        flex-direction: column;
    } 
    #populaires ,#hebergements{ 
        width: 100%;
    }
    #ensemble-populaire{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    #ensemble-populaire a{
        width:31%;
    }
    .populaire-ecriture .ecriture{
        margin-left:0px;
    }
    .flex-ecriture h3{
        font-size: 14px;
    }
    .flex-ecriture p{
        font-size:13px
    }
    .activite img{
        height:210px;
    }   
     
}

/*mobiles*/
@media screen and (max-width: 767px){
    body{
        margin:0px;        
    }
    header {
        margin:20px 0px;
        flex-direction:column;
        align-items:center
    }
    #introduction{
        margin:20px;
    }     
    #nav li{
        display:flex;
        justify-content: center;
        padding-bottom:20px;
        font-weight: 500;
        border-bottom:3px solid#D9D9D9;
        width:50%;        
    }
    #nav li:hover a{
        color:#0065FC;
        font-weight:500;
    } 
    #nav li:hover{          
        border-bottom:3px solid#0065FC; 
        border-top: none;       
    }
    form, .text, nav, #populaires, .footer, #flex-hebergement a, #flex-activites a{
        width:100%;
    }
    .mobile{
        display:inline;
    }
    .ordi{
        display:none;        
    }
    
    .recherche{
        width:50px;
    }
    .fa-search{
        padding-top:12px;
    }    
    .filtres {
        align-items: initial;
    }
    .filtres .gras{
        margin-bottom:0px;
    }
    .choix-filtre{
        box-sizing:border-box;
        width:48%;
        margin-left:0px;
        padding-left: 8px ;
        padding-right:0px;
        margin-top:8px;
        margin-bottom:8px;      
    }
    .choix-filtre p{
      padding-left:4px;
        font-size:10px;
        margin-top:13px;
        margin-bottom:13px;
    }
    .filtre{
        flex-wrap: wrap;
        margin-top:8px;
    }     
    .information p{
        font-size:16px;
    }
    .gris{
        border-radius:0px;
    }
    #sections-grises{        
        flex-direction: column-reverse;
    } 
    #populaires{
        margin-bottom:0px;
    }    
    #hebergements, #activites{
        width:100%;
        background-color: #FFF;
        padding-left:20px;
        padding-right:20px;
        box-sizing: border-box;
    }    
    #hebergements .gras{
        display:none;
    }    
    .filtres,#flex-hebergement a, #flex-activites, footer{       
        flex-direction:column;        
    }   
    .activite img{
        height:134px;
    }
       
}


